
/* Profile */

.profile {
    display: inline-block;
    width: 100%;
    padding: 5%;
}

.image {
    width: 50%;
    height: 50%;
    display: inline-block;
}

.profile_picture {
    width: 40%;
    float: right;
    margin-right: 20%;
    border-radius: 2vh;
}

.about {
    width: 30%;
    height: 50%;
    display: inline-block;   
    position: absolute;
}

p{
    text-indent: 2em;
    text-align: justify;
}

.glink {
    text-align: right;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}


/* Skills */

h2 {
    padding-left: 4vh;
}

.skills {
    display: flex;
    justify-content: space-between;
    margin-left: 23%;
    margin-right: 23%;
    margin-top: 4vh;
}

.skills div {
   border: solid 2px #50c1d2;
   padding: 2% 5% 2% 5%;
   border-radius: 2vh;
   width: 35%;
   height: 10%;
}
