* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header */

header {
    background-color: #50c1d2;
    display: flex;
    justify-content: space-between;
    padding: 2vh;
    padding-left: 4vh;
    padding-right: 4vh;
    color: white;
}

.nav_options {
    display: flex;
    align-items: center;
}

.nav_options a {
    color: white;
    display: flex;
    padding: 1vh;
    text-decoration: none
}

.nav_options a:hover {
    font-size: 20px;
    transition: .5s;
}

.options {
    border-left: solid 2px white;
    border-right: solid 2px white;
}


/* Footer */

footer {
    background-color: #50c1d2;
    margin-top: 5%;
    height: 8vh;
    padding: 1.5%;
}

footer p {
    color: white;
    text-align: center;
}
