.project_title {
    text-align: center;
    padding-top: 2.5%;
}


/* Category title */

.subtitle {
    border-bottom: solid 1px rgba(142, 142, 142, 0.633);
}

h2 {
    padding-top: 2.5%;
    padding-left: 4vh;
}


/* Images */

section {
    padding-top: 2.5%;
}

.front {
    display: flex;
    justify-content: space-between;
    padding-left: 9vh; 
}

div .image {
    width: 70%;
    height: 90%;
    border: solid 2px #50c1d2;
}

.back {
    padding-left: 9vh; 
}

#img_back {
    width: 33vh;
    height: 100%;
}

.mobile {
    padding-left: 9vh; 
}
